---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

import { business, pages } from '../config/site';
---

<Layout
  title={`${pages.contact.title} | ${business.name}`}
  description={pages.contact.description}
>
  <Header />
  <main>
    <div style="padding-top: 80px;">
      <Contact />
    </div>
  </main>
  <Footer />
</Layout>
