---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';

import { business, pages } from '../config/site';
---

<Layout
  title={`${pages.faq.title} | ${business.name}`}
  description={pages.faq.description}
>
  <Header />
  <main id="main-content">
    <div style="padding-top: 80px;">
      <FAQ />
    </div>
    <CTA />
  </main>
  <Footer />
</Layout>
