---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Pricing from '../components/Pricing.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';

import { business, pages } from '../config/site';
---

<Layout
  title={`${pages.tarifs.title} | ${business.name}`}
  description={pages.tarifs.description}
>
  <Header />
  <main id="main-content">
    <div style="padding-top: 80px;">
      <Pricing />
    </div>
    <CTA />
  </main>
  <Footer />
</Layout>
